body{
    background-color: black;
    color: white;
    background-image: url('../imgs/252651-delhi-weather-today-forecast.avif');
    background-position: center center;
    /* height: 100vh; */
    background-size: cover;
}
.transparent-bg {
    background-color: rgba(255, 255, 255, 0.5); /* Adjust the alpha value as needed */
    /* You can also add other styles as needed */
    padding: 10px;
    border-radius: 10px;
}
.status{
    font-size: 20px;
}
.card-title{
    font-size: 25px;
}
.black-background {
    background-color: black; /* Set your desired background color */
    color: white; 
    width: 100%; 
            height: 200px;/* Set text color to contrast with the background */
}
.transparent-bg {
    transition: transform 0.3s, background-color 0.3s; /* Add smooth transitions */
}

.transparent-bg:hover {
    transform: scale(1.05); /* Increase scale on hover for zoom effect */
    background-color: white; /* Change background color on hover to white */
    color: black; /* Change text color on hover to black */
}
.navbar-nav .nav-item .nav-link {
    border-bottom: 2px solid transparent; /* Set initial border color to transparent */
    transition: border-bottom 0.3s ease; /* Add a smooth transition */
}

.navbar-nav .nav-item:hover .nav-link {
    border-bottom: 2px solid white; /* Set border color on hover */
}
.search-container {
    background-color: rgba(255, 255, 255, 0.1); /* لون خلفية شفاف */
    border-radius: 10px; /* زاوية الحواف */
    overflow: hidden;
}

.search-input {
    color: white; /* لون النص الأبيض */
    border: none; /* إزالة الحدود */
    background-color: transparent; /* خلفية شفافة */
}

.social-icons {
    color: white; /* لون الأيقونات الأبيض */
    transition: color 0.5s; /* تغيير اللون بسلاسة عند التحويل */
}

.social-icons:hover {
    color: blue; /* لون الأيقونات عند التحويل */
}
.search-container {
    background-color: rgba(255, 255, 255, 0.9); /* لون خلفية شفافة بيضاء */
    border-radius: 10px; /* زاوية الحواف */
    overflow: hidden;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* ظل لتحسين التباين مع الخلفية */
}
.search-input {
    color: #495057; /* لون النص */
    background-color: #001f3f; /* لون الكحلي */
    border: none;
    border-radius: 10px; /* زاوية الحواف */
    padding: 10px;
    outline: none; /* إزالة التحديد عند التركيز */
}

.social-icons {
    color: #495057; /* لون الأيقونات */
    transition: color 0.5s;
}

.social-icons:hover {
    color: #007bff; /* لون الأيقونات عند التحويل */
}
#search {
    border: 1px solid #ccc; /* Set the border properties as needed */
    transition: border 0.3s ease; /* Add a smooth transition for the border effect */
}

#search:focus {
    border: 1px solid #007bff; /* Set the border color on focus */
    outline: none; /* Remove the default focus outline */
}